.loginCard {
  justify-content: center;
    width: 300px;
    margin-top: 80px;
    .incorrect-login {
      color: red;
      margin: 0;
    }
  }
  .empty-input-error {
    color: red;
    margin: 0;
  }
  
  .fa-rocket {
    margin-left: 6px;
  }
  
  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 12px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .separator::before,
  .separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ced4da;
  }
  .separator::before {
    margin-right: 1rem;
  }
  .separator::after {
    margin-left: 1rem;
  }
  
  .form-group {
    margin-bottom: 0rem;
    .input-error {
      border: solid red 1px;
    }
  
    #password {
      margin-bottom: 1.5rem;
    }
  
    #password2-text {
      margin-bottom: 1.5rem;
    }
  }