#submit-registration {
    margin-top: 1.5rem;
    }
    
    .signUpCard {
    width: 300px;
    margin-top: 80px;
    font-family: 'Bitter', serif;
    }
    
    .fa-rocket {
    margin-left: 6px;
    }
    
    .form-group {
    margin-bottom: 0rem;
    }
    
    #password {
    margin-bottom: 1.5rem;
    }
    
    #password2-text {
    margin-bottom: 1.5rem;
    }
    